---
layout: compress
published: true
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<span class="block"><p style="text-align: center;"><a title="Updates about Project Coatimunde" href="/coatimunde">Thesis</a>&nbsp;&middot;&nbsp;<a title="My r&eacute;sum&eacute; so far!" href="/cv">R&eacute;sum&eacute;</a>&nbsp;&middot;&nbsp;<a title="Updates on other projects" href="/projects">Projects</a>&nbsp;&middot;&nbsp;<a title="Posts on my other thoughts" href="/blog">Blog</a></p></span>
		
		<div id="content">
			{{ content }}
		</div>

		{% include footer.html %}

	</body>

</html>
